flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db6cb8e5.63be88","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["efc5e21e.2ab18"]]},{"id":"be84292b.539118","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":460,"wires":[]},{"id":"efc5e21e.2ab18","type":"exec","z":"3af82246.3634ae","command":"ls -la /","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":110,"y":0,"wires":[["be84292b.539118"],[],[]]},{"id":"c68eb630.7b3528","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["2bb5c568.8efbfa"]]},{"id":"5ee66794.39c568","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":540,"wires":[]},{"id":"2bb5c568.8efbfa","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":540,"wires":[["5ee66794.39c568"]]}]