flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"996dd2de.71e2","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","tls":"8d3d14f9.9a7478","clientid":"${MQTT_CLIENT_ID}","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8d3d14f9.9a7478","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"${MQTT_CA_CERT}","certname":"","keyname":"","caname":"","servername":"${MQTT_HOST}","verifyservercert":true},{"id":"c68eb630.7b3528","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["2bb5c568.8efbfa"]]},{"id":"5ee66794.39c568","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":540,"wires":[]},{"id":"2bb5c568.8efbfa","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":540,"wires":[["5ee66794.39c568"]]},{"id":"d66729bb.b93518","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"${WWW}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["cf3ed989.d8b858"]]},{"id":"cf3ed989.d8b858","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":200,"y":220,"wires":[]},{"id":"5f2f9a97.9f7dd4","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"996dd2de.71e2","x":110,"y":740,"wires":[["d731c60a.6f1128"]]},{"id":"d731c60a.6f1128","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":740,"wires":[]},{"id":"9471be39.4adb7","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["7cee447f.df4d4c"]]},{"id":"7cee447f.df4d4c","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":640,"wires":[["e0013811.5d6ac8"]]},{"id":"e0013811.5d6ac8","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"996dd2de.71e2","x":430,"y":640,"wires":[]}]